{% extends 'layout.html'%}

{% block content %}
    <form id="post-form" action="/list_book" method="POST">
        <h2 class="centered-h2">Post a Book Listing</h2>
        <label for="title-input">Title:</label><br>
        <input type="text" id="title-input" name="title"><br>
        <label for="author-input">Author:</label><br>
        <input type="text" id="author-input" name="author"><br>
        <label for="description-input">Description:</label><br>
        <textarea id="description-input" name="description"></textarea><br>
        <label for="state">Please select the option which matches most:</label> <br>
        <select id="state" name="state">
          <option value="new">New</option>
          <option value="like_new">Used, in new condition</option>
          <option value="good">Used, in good condition</option>
          <option value="fair">Used, in fair condition</option>
          <option value="poor">Used, in poor condition</option>
        </select><br><br>
        <label for="rating">Average rating of the book</label><br>
        <input type="number" id="rating-input" name="rating"><br>
        <label for="num_pages">Number of pages:</label><br>
        <input type="number" id="num_pages_input" name="num_pages"><br>
        <label for="publication_date">Publication Date of the book:</label><br>
        <input type="date" id="publication_date_input" name="publication_date"><br>
        <label for="publisher">Publisher:</label><br>
        <input type="text" id="publisher-input" name="publisher"><br>
        <input type="submit" id="post-listing" value="Post Listing">
      </form> 
      
{% endblock %}